<v-ons-page id="main_page">
  <v-ons-carousel fullscreen swipeable auto-scroll overscrollable="true"
      :index.sync="main_page.data.carouselIndex"
      :postchange="main_page.methods.onchange()"
    >
      <v-ons-carousel-item v-for="item in main_page.data.items" class="ginger-cat-photo-item"
      :class="[item.className]" onclick="main_page.methods.meow(this)">

      </v-ons-carousel-item>
    </v-ons-carousel>

    <div :style="main_page.data.dots">
      <span :index="dotIndex - 1" v-for="dotIndex in Object.keys(main_page.data.items).length" :key="dotIndex" style="cursor: pointer" @click="main_page.data.carouselIndex = dotIndex - 1">
        {{ main_page.data.carouselIndex === dotIndex - 1 ? '\u25CF' : '\u25CB' }}
      </span>
    </div>
</v-ons-page>
